<!-- Navigation -->
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
      <div class="container">
        &nbsp;
        <a
          class="navbar-brand"
          href="#"
          style="text-transform: uppercase; color: black"
        >
          WELCOME TO INFINITY CLUB
          <!-- <img src="../../../assets/img/11.gif" />        <img src="../../../assets/img/2.gif" /> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['gallery']" href="#"
                >celebration gallery</a
              >
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Facilities']" href="#"
                >Facilities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['News']" href="#">News</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['About']" href="#">About</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['Blog']" href="#">Blog</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['contactus']" href="#"
                >Contact US</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br />
  <br />
  <br />
  