
<div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quis tempore sunt similique eveniet rem pariatur cupiditate laboriosam totam odit fuga officia temporibus itaque minus ullam iusto nobis corrupti, fugit natus labore aperiam! Eligendi voluptatem sequi ea nostrum rem, dolor quam voluptatibus obcaecati fugiat. Suscipit itaque nisi iusto nihil commodi.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia nulla rerum aspernatur ipsa pariatur nisi iure vitae voluptatum ab aut. Non sunt accusantium unde ad?
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img class="d-flex ml-3" src="../../../assets/img/person.jpg" alt="Generic placeholder image">
  </div>
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quas, iusto tempore ipsum minus et molestiae asperiores nam ea, accusantium nostrum incidunt eos voluptates distinctio rerum non omnis odit quibusdam natus aut. Quaerat officiis voluptatibus maxime non et, nobis quo.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorum fugit incidunt odio iusto accusantium ea atque impedit optio inventore et molestias libero, nobis esse numquam similique magnam voluptate reiciendis provident non ratione omnis! Cumque!
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img class="d-flex ml-3" src="../../../assets/img/person.png" alt="Generic placeholder image">
  </div>
  <div class="media">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Media object</h5>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore qui temporibus laudantium quibusdam explicabo sunt atque praesentium aliquam quos aut veritatis, saepe iusto excepturi ea accusamus odio debitis. Ut libero magni harum nesciunt accusamus, ea eos esse consequuntur doloribus incidunt, nostrum vero vitae minima nulla laboriosam non sequi facere rerum!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores doloribus distinctio, accusamus dolorum culpa corrupti dignissimos earum officiis sed excepturi atque, quidem, rem sapiente voluptatum. Impedit pariatur odit aperiam rem consequuntur sit mollitia adipisci temporibus.
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img class="d-flex ml-3" src="../../../assets/img/person.jpg" alt="Generic placeholder image">
  </div>
      