<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<br />
<br />
<br /><br />
<br />
<br />
<div id="container">
  <div id="part1">
    <div id="companyinfo">
      <a id="sitelink" href="#">Gadarwara Super Thermal Power Plant</a>
      <p id="title">NTPC producing Renewable Energy</p>
      <p id="detail">64,880 MW NTPC Employees 18936+ Employees</p>
    </div>
    <div id="explore">
      <p id="txt1">Explore</p>
      <a class="link" href="#">Home</a> <a class="link" href="#">About</a>
      <a class="link" href="#">Snippet</a> <a class="link" href="#">Careers</a>
    </div>
    <div id="visit">
      <p id="txt2">Visit</p>
      <p class="text">NTPC Gadarwara</p>
      <p class="text">Chor Barhata</p>
      <p class="text">Madhya Pradesh 487441</p>
      <p class="text">Phone:</p>
      <p class="text">Fax:</p>
    </div>
    <div id="legal">
      <p id="txt3">Legal</p>
      <a class="link1" href="#">Terms and Conditions</a>
      <a class="link1" href="#">Private Policy</a>
    </div>
    <div id="subscribe">
      <p id="txt4">Subscribe to US</p>
      <form><input id="email" type="email" placeholder="Email" /></form>
      <a class="waves-effect waves-light btn">Subscribe</a>
      <p id="txt5">Connect With US</p>
      <i class="fab fa-facebook-square social fa-2x"></i>
      <i class="fab fa-linkedin social fa-2x"></i>
      <i class="fab fa-twitter-square social fa-2x"></i>
    </div>
  </div>
  <div id="part2">
    <p id="txt6">
      <i class="material-icons tiny"> copyright</i>Site Credits Copyright © 2021
      NTPC IT DEPT. All rights reserved - All right reserved
    </p>
  </div>
</div>
